html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    width: 100%;
    padding: 0;
}

nav{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(124, 121, 121, 0.4);
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    flex: 1 1 0;
}


nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.2s;
}

nav li:hover{
    background: rgba(189, 187, 190, 0.1);
    transform: translateY(1px);
}

nav ul.media{
    flex: 1 1 0;
}

.media{
    max-width: 129.33px;
}

.media a{
    text-indent: -1000px;
}

a.linkedin{
    background: url(./images/kisspng-linkedin-computer-icons-linkedin-5b111339e6d9d3.3995107815278456899456.png) no-repeat center;
    background-size: 80%;
}

a.github{
    background: url("./images/GitHub-Mark-120px-plus.png") no-repeat center;
    background-size: 80%;
}

#title{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('./images/pexels-pixabay-33545.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

#title h1{
    display: inline-block;
    color: white;
    margin-top: 45vh;
    font-size: 100px;
    font-family: fantasy;
    transition: 0.5s;
    margin-bottom: 10px;
    animation: drop 1s ease-out 0s 1 normal forwards;
}

@keyframes drop {
    0%{margin-top: 0vh;}
    100%{margin-top: 45vh;}
}

#title h2{
    display: inline-block;
    color: white;
    margin-top: 10px;
}

#title h1:hover{
    transform: scale(1.1);
}

#about{
    width: 100%;
    background:url(./images/Starry-sky.jpg);
    box-sizing: border-box;
    color: white;
    padding: 60px;
    text-align: center;
    border: 10px solid rgb(104, 97, 97);
}

#about h1{
    margin: 10px 0;
    font-size: 3.5rem;
}

#about p{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2rem;
}

#skills{
    text-align: center;
    background: url(./images/Abstact.jpg);
    color: #fff;
    padding: 60px;
    border: 10px solid rgb(104, 97, 97);
    border-top: 0;
}

#skills h1{
    margin: 0;
    font-size: 3.5rem;
}

#skills p{
    font-size: 1.25rem;
}

#projects{
    padding: 0 40px;
    padding-bottom: 30px;
    background: url(./images/pexels-tranmautritam-245032.jpg) no-repeat;
    background-size:cover;
    min-height: 40vh;
}

#projects h1{
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    font-size: 5rem;
    color: #fff;
    font-family: fantasy;
}

.projects-grid-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    color: rgb(255, 255, 255);
}

.personal-website{
    text-align: center;
}

.personal-website h2{
    font-size: 3rem;
    margin: 0;
    padding-bottom: 20px;
}

.personal-website img{
    width: 600px;
    border: 20px groove rgb(31, 31, 31);
    transition: 0.2s;
}

.personal-website img:hover{
    transform: scale(1.02);
}

.personal-website p{
    font-size: 1.25rem;
    padding: 30px;
    background:rgba(124, 121, 121, 0.4);
    margin: 0;
}

.conways-game{
    text-align: center;
}

.conways-game h2{
    font-size: 3rem;
    margin: 0;
    padding-bottom: 20px;
}

.conways-game img{
    width: 600px;
    height: 342px;
    border: 20px groove rgb(31, 31, 31);
    transition: 0.2s;
}

.conways-game img:hover{
    transform: scale(1.02);
}

.conways-game p{
    margin: 0;
    font-size: 1.25rem;
    padding: 30px;
    background:rgba(124, 121, 121, 0.4);
}

#contact{
    text-align: center;
    background: rgb(19, 18, 18);
}

#contact h1{
    margin-top: 0;
    padding-top: 20px;
    font-size: 2rem;
    color: #fff;
}

#contact div{
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 60px;
    margin-bottom: 30px;
}

#contact a{
    text-decoration: underline;
    color: #fff;
}

@media screen and (max-width: 1535px){
    .projects-grid-wrap{
        display: block;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        color: rgb(255, 255, 255);
    }
}
